<div class="container">
    <div class="row pb-3">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <h1 class="my-4">
                About Sunrise.
            </h1>
            <hr>
            <h2 class="my-4">General Information</h2>
            <p class="my-3">Sunrise Hotel offers guests comfortable accommodation and excellent amenities in a convenient location. The hotel is designed to provide a relaxing and enjoyable stay for both business and leisure travelers.</p>
            <p class="my-3">
                Located in a bustling city center, Sunrise Hotel offers a variety of room types, including single rooms, double rooms, and suites. The rooms are spacious and equipped with modern amenities such as air conditioning, comfortable bedding, high-speed internet, flat-screen TVs, and private bathrooms.
            </p>
            <p class="my-1">Sunrise hotel staff is friendly and dedicated to ensuring guests have an enjoyable stay. They are available around the clock to assist with any requests or inquiries, making guests feel welcome and comfortable throughout their stay.</p>
            <h2 class="my-4">
                Meet the team
            </h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between mb-5 col-md-12" id="team">
            <div class="card c" style="width: 18rem;">
                <div class="card-body bg-secondary text-light">
                    <h5 class="card-title mb-3">Gabriela Kiryakova</h5>
                    <h6 class="card-subtitle mb-2">Manager</h6>
                    <p class="card-text">Responsible for overseeing a team of employees and ensuring that operations run smoothly. They may be responsible for delegating tasks, setting goals, tracking progress, and making decisions that impact the team's success.</p>
                    <a href="mailto:gabrielakiryakova_j18@schoolmath.eu" class="btn btn-warning">Send email</a>
                </div>
            </div>
            <div class="card c" style="width: 18rem;">
                <div class="card-body bg-secondary text-light">
                    <h5 class="card-title mb-3">Georgi Todorov</h5>
                    <h6 class="card-subtitle mb-2">Administrative manager</h6>
                    <p class="card-text">Responsible for overseeing all aspects of a company or business, including operations, finances, and personnel. They may be responsible for creating budgets, developing and implementing strategic plans, and managing the company's overall performance.</p>
                    <a href="mailto:georgitodorov_j18@schoolmath.eu" class="btn btn-warning">Send email</a>
                </div>
            </div>
            <div class="card c" style="width: 18rem;">
                <div class="card-body bg-secondary text-light">
                    <h5 class="card-title mb-3">Nikolai Daskalov</h5>
                    <h6 class="card-subtitle mb-2">Coder</h6>
                    <p class="card-text">He does the main part of the coding with the help of the others.</p>
                    <a href="mailto:nikolaidaskalov_j18@schoolmath.eu" class="btn btn-warning">Send email</a>
                </div>
            </div>
            <div class="card c" style="width: 18rem;">
                <div class="card-body bg-secondary text-light">
                    <h5 class="card-title mb-3">Ivan Despotov</h5>
                    <h6 class="card-subtitle mb-2">QA</h6>
                    <p class="card-text">
                        esponsible for ensuring that products and services meet or exceed quality standards. They may be responsible for creating testing plans, executing tests, identifying issues and bugs, and working with developers and other teams to resolve issues before the product is released to the public.
                        They may be responsible for troubleshooting issues, optimizing code for performance, and collaborating with other developers to create complex software systems.
                    </p>
                    <a href="mailto:ivandespotov_j18@schoolmath.eu" class="btn btn-warning">Send email</a>
                </div>
            </div>
            <div class="card c" style="width: 18rem;">
                <div class="card-body bg-secondary text-light">
                    <h5 class="card-title mb-3">Dario Zehtinski</h5>
                    <h6 class="card-subtitle mb-2">QA</h6>
                    <p class="card-text">
                        Responsible for ensuring that products and services meet or exceed quality standards. They may be responsible for creating testing plans, executing tests, identifying issues and bugs, and working with developers and other teams to resolve issues before the product is released to the public.
                    </p>
                    <a href="mailto:dariozehtinski_j18@schoolmath.eu" class="btn btn-warning">Send email</a>
                </div>
            </div>
        </div>
    </div>
</div>